<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

    <!-- Nav Bar -->
    
    <%- include('layouts/navbar'); -%>

    <!-- Main -->

    <main>

        <div class="pageNotFound">

            <img src="/img/sadface.gif" alt="Page not found gif">

            <p>Page not found, lets try that again. <span><a href="/">Home.</a></span> </p>

        </div>

    </main>
    
</body>

</html>
