<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

    <%- include('layouts/navbar')-%>

      <main>

        <form action="/user/signup" method="POST">

          <label>Fullname</label>

          <input type="text" required name="fullname" placeholder="Fullname" class="form-control">

          <label>Email</label>

          <input type="email" name="email" placeholder="Enter your email address" required class="form-control">

            <label">Gender</label>

            <input list="gender" class="form-control" placeholder="Gender" name="gender" required>
                <datalist id="gender">
                    <option value="Male">
                    <option value="Female">
                    <option value="Prefer not to say">
                </datalist>

          <label>Password</label>

          <input type="password" required name="pwd" class="form-control mt-2" placeholder="Enter your password">

          <button class="btn btn-primary mt-2">Sign Up</button>

        </form>

      </main>

      <%- include('layouts/scripts'); -%>

</body>

</html>
